body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: darkgray;
}

h1{
  font-size: 25px;
  color: black;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 17px;
}

.ct, .t{
  display: flex;
  cursor:pointer;
}

.image {
  width: 75%;
  height: 75%;
}

.name {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.info {
  width: 100%;
  max-width: 500px;
  margin: 15px auto;
  border-collapse: collapse;
}

.link{
  text-decoration: none;
  color: black;
  text-align: left;
  display: flex;
  margin: 0 0 0 50px;
}