body {
    background-color: seashell;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

.board {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-gap: 15px;
    justify-content: center;
    margin: 30px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: gray;
    display: flex;
    font-size: 75px;
    color: white;
    border-radius: 100px;
}

.card.flipped {
    background-color: white;
}

.restart {
    padding: 10px 20px;
    background-color: slategray;
    color: white;
}

.restart:hover {
    background-color: red;
}